@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Header and Navigation Bar */
header {
  background-color: #32bb78;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.dashboard {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.form-container {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="number"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #32bb78;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #28a565;
}

.results {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

#result-display {
  font-size: 20px;
  font-weight: bold;
}

/* total icome ayaa leh stlyeskan soo socdo */
.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  background-color: #32bb78;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 45%;
}

.card h2 {
  margin-bottom: 15px;
}

#income-statements {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#income-statements th,
#income-statements td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#income-statements th {
  background-color: #32bb78;
  color: white;
}

#income-statements tr:hover {
  background-color: #f1f1f1;
}
